apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: meghana361/student-backend:v1
        ports:
        - containerPort: 5000
        envFrom:
        - secretRef:
            name: backend-secret
